In [1]:

from pandas import DataFrame
 
names = {'First_name': ['Hanah', 'Ria', 'Jay', 'Bholu', 'Sachin']}
df = DataFrame(names, columns =['First_name'])
 
df.loc[df['First_name'] == 'Ria', 'Status'] = 'Found' 
df.loc[df['First_name'] != 'Ria', 'Status'] = 'Not Found'
 
print (df)

  First_name     Status
0      Hanah  Not Found
1        Ria      Found
2        Jay  Not Found
3      Bholu  Not Found
4     Sachin  Not Found

In [2]:
from pandas import DataFrame

In [4]:
names = {'First_name': ['Hanah', 'Ria', 'Jay', 'Bholu', 'Sachin']}
names

{'First_name': ['Hanah', 'Ria', 'Jay', 'Bholu', 'Sachin']}

In [5]:
df = DataFrame(names, columns =['First_name'])
df

  First_name
0      Hanah
1        Ria
2        Jay
3      Bholu
4     Sachin

In [6]:
df.loc[df['First_name'] == 'Ria', 'Status'] = 'Found' 
df

  First_name Status
0      Hanah    NaN
1        Ria  Found
2        Jay    NaN
3      Bholu    NaN
4     Sachin    NaN

In [7]:
df.loc[df['First_name'] != 'Ria', 'Status'] = 'Not Found'
df

  First_name     Status
0      Hanah  Not Found
1        Ria      Found
2        Jay  Not Found
3      Bholu  Not Found
4     Sachin  Not Found

In [8]:
df.dtypes

First_name    object
Status        object
dtype: object